.buttonContainer button {
  background: transparent;
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: 'Satoshi';
  font-weight: 500;
  font-size: 18px;
  line-height: 24.3px;
  color: #9e7eff;
  border: none;
}

.buttonText {
  font-family: 'Satoshi';
  font-weight: 500;
  font-size: 18px;
  line-height: 24.3px;
  color: #9e7eff;
  background: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: transparent;
  border: #9e7eff 5px solid;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
}

.dropdownBtn {
  font-family: 'Satoshi';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #9e7eff;
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  padding: 10px 20px;
  transition: background 0.3s ease-in-out;
}

.dropdownBtn:hover {
  background: rgba(158, 126, 255, 0.2);
}
